<% @header = "Transaction #{@transaction.id}" %>
<div class="lead">
  <p>DateTime: <%= @transaction.date.to_s(:long_ordinal) %></p>
  <p>Type: <%= @transaction.type %></p>
  <p>Price: <%= @transaction.price %></p>
  <p>Visitor ID: <%= @transaction.visitor_id %></p>
</div>
