<% @header = "Review #{@review.id}" %>
<div class="lead">
  <p>Comment: <%= @review.comment %></p>
  <p>Rating: <%= @review.rating %></p>
  <p>Visitor ID: <%= @review.visitor_id %></p>
  <p>Attraction Number: <%= @review.attraction_number %></p>
</div>
